#app-root-2023-06-kirjakartta *, ::before, ::after {
  box-sizing: content-box;
}

@import 'yddrasil_overrides.less';

#app-root-2023-06-kirjakartta .app {
  background-color: #c7c8dd;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: auto auto;
  padding: 20px 0 40px 0;
  position: relative;
  text-align: center;
  h4 {
    color: #000;
    margin: 40px auto 20px auto;
    max-width: 600px;
  }
  .map_wrapper {
    max-width: 600px;
    margin: auto auto;
    padding-bottom: 40px;
    position: relative;
    .input_container {
      input {
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        padding: 5px 7px;
        width: 400px;
        outline: none;
      }
    }
    .map_container {
      min-height: 650px;
      opacity: 0;
      padding-top: 40px;
      text-align: center;
      transition-delay: 0s;
      transition-duration: 2s;
      transition-property: opacity;
      svg {
        margin: auto auto;
        overflow: visible;
        position: relative;
        width: 100%;
        z-index: 1;
        .path {
          opacity: 1;
          fill: #f2e8d6;
          stroke-width: 1px;
          stroke: #f2e8d6;
          stroke-opacity: 1;
        }
        .text {
          fill: #666;
          font-size: 12px;
          font-weight: 600;
          paint-order: stroke;
          pointer-events: none;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-width: 2px;
          stroke: #fff;
          text-anchor: middle;
        }
      }
    }
    .map_info {
      align-items: center;
      color: #000;
      display: flex;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      margin: auto auto;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: opacity;
      visibility: hidden;
      width: 100%;
      z-index: 1;
      .map_info_content {
        align-items: center;
        background-color: transparent;
        background-image: url('../assets/img/kirja_pohja.png');
        background-size: 100% 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        padding: 40px 60px 40px 40px;
        h3 {
          display: none;
        }
        .current_municipality_status {
          color: #f2e8d6;
          margin-bottom: 20px;
          img {
            width: 100%;
          }
          p {
            line-height: 20px;
          }
          a {
            text-decoration: underline;
            color: #f2e8d6;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .close_container {
          button.close {
            background-color: #bea98b;
            border: 2px solid #bea98b;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            letter-spacing: 0.05em;
            padding: 5px 13px;
            text-transform: uppercase;
            &:hover {
              background-color: #2B296B;
              color: #fff;
            }
          }
        }
      }
    }
    .map_tooltip {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid #ccc;
      color: #000;
      opacity: 0;
      padding: 4px 7px;
      position: absolute;
      z-index: 3;
      strong {
        font-size: 20px;
      }
    }
    .marker {
      fill: #2B296B;
      //stroke: #31558d;
      fill-opacity: 1;
      transition: all .2s ease-in-out;
      &:hover {
        fill: #bea98b;
        fill-opacity: 1;
        cursor: pointer;
      }
    }
    .circle {
      fill: #0095BD;
      //stroke: #31558d;
      fill-opacity: 1;
      pointer-events: none;
      stroke-width: 0;
      transition: all .2s ease-in-out;
    }
  }
}

@import 'basics.less';